/aa.inc
/aa.ini
/ACList.mac
/ae.mac
/aerez.mac
/Alchemy.ini
/Alchemy.mac
/alert.inc
/archived
/ArrayTest.mac
/Arrows.mac
/autoShroom.mac
/axe.mac
/axe2.mac
/baking.ini
/Baking.mac
/bardBot.mac
/bazaar.inc
/bazaar.mac
/Bazaar2.mac
/bazaarManager (1).mac
/bazaarManager.mac
/beastlordBot.mac
/beg.mac
/berserkerBot.mac
/bone.mac
/bot.mac
/bot40.mac
/bot_custom_events.inc
/bot_hunter.mac
/bot_loader_foresight.mac
/bot_loader_kretv.mac
/bot_loader_noq.mac
/bot_loader_pyril.mac
/bot_loader_xxeric.mac
/bot_loader_zun.mac
/bot_raid_noq_nuke.mac
/bot_raid_pyril_nuke.mac
/bot_raid_txevu_zun.mac
/brewing.ini
/Brewing.mac
/brute.mac
/buff.mac
/BuyLow.mac
/buyspells.mac
/Cams.mac
/casterassist.mac
/ce.mac
/CharInfo.mac
/chload
/chload.mac
/clericBot2.mac
/clickies.mac
/clrspellset.mac
/coh.mac
/combine.mac
/common
/common.inc
/ctdme.mac
/CWTNFish.mac
/darkforge.mac
/data.mac
/dbuild.mac
/destroy.mac
/devCast.inc
/devCommonPremium.inc
/devLoot.inc
/devMovementPremium.inc
/devMQ2Cast_Spell_Routines.inc
/devPull.inc
/DoorTests.mac
/drink.mac
/Drood2.mac
/druidBot.mac
/dsbuild.ini
/dsbuild.mac
/dz.mac
/enchanterBot.mac
/EpicGemCombine.mac
/EventTest.mac
/expedient.mac
/fd.mac
/FindClicky.mac
/Fish.mac
/Fishing.ini
/Fishing.mac
/flag.mac
/fletching.ini
/Fletching.mac
/Follow.mac
/food.mac
/fooddrink.mac
/forage.mac
/forageaa.ini
/GearSet.mac
/Hunter.mac
/HunterLoot.ini
/HunterMob.ini
/HyperFish.mac
/HyperFish2.mac
/ibuild.ini
/ibuild.mac
/Info.mac
/inibuild.mac
/Inventory.mac
/jewelry.ini
/Jewelry.mac
/kissassist.mac
/knightsOfTruth.mac
/lang.mac
/lashun.mac
/ldon.nonorigin.mac
/ldon.v2.mac
/lobby.mac
/lobbybuff.mac
/lobby_giver.mac
/Lockpick.mac
/Loot.ini
/lootself.mac
/LSLooterFry.mac
/LSMainFry.mac
/mageBot2.mac
/mass.mac
/massclay.mac
/MassImbueEmerald.mac
/MassMana.mac
/math.mac
/meleeassist.mac
/mindwiz.mac
/MMOIRC.mac
/Mob_Ignore_List.ini
/monkBot.mac
/MQ2Cast.inc
/MQ2Cast_Spell_Routines.inc
/Naggy.mac
/NaggyChars.ini
/necroBot.mac
/nfake.mac
/NinjaAdvLoot.inc
/NinjAdvLoot.inc
/ntank.mac
/NULL.ini
/paladinBot.mac
/pathrecord.mac
/pl.mac
/plock.mac
/plugins.mac
/Poison.ini
/Poison.mac
/pottery.ini
/Pottery.mac
/pubcrawl.mac
/randtest.mac
/range.mac
/rangerBot.mac
/revertch1.mac
/revertch2.mac
/ri.mac
/rogueBot.mac
/ScoutMaidens.mac
/ScribeAll.mac
/sell.mac
/SellItem.mac
/setch1.mac
/setch2.mac
/setchAll.mac
/shamanBot.mac
/ShitsBuilder.exe
/ShitsBuilder.mac
/ShowBonuses.mac
/simpleAFK.mac
/skBot2.mac
/SkillCast.mac
/SkillUpCasting.ini
/SkillUpCasting.mac
/SkillUpCasting_old.mac
/skylab.mac
/smithing.ini
/Smithing.mac
/SpellsToBuy.mac
/Spell_routines.inc
/stand.mac
/summonfd.mac
/Title.mac
/TripleWarp.mac
/ts.mac
/ts_imbue.mac
/ts_jewel.mac
/ts_potter.mac
/Tutorial.mac
/ui.mac
/uservarstest.mac
/Utilities.inc
/Valdeholm.mac
/VeliumNoWarp.mac
voltron.mac
/warriorBot.mac
/wizardBot.mac
/xadds.mac
/xbomb.mac
/xiris_class_ini
/xiris_common
/yafm2.ini
/yafm2.mac
/zotest.mac