# Ignore all files named .DS_Store or ending with .log
**/.DS_Store
**.log
*.mac
test.mac
yafm2.ini

#Ignore the old class ini folder
xiris_class_ini/

# Includelist some files
!.gitignore
!README.md
!bot_*
!xiris_includes/*
!xiris_settings/character/*
!xiris_settings/global/*

